.members {
    background-color: #ffeabe;
    padding-top: 45px;
    padding-bottom: 55px;
    text-align: center; /* 中央揃えにする */
}
.header{
    background-color: #736e62;
}
.members h1{
    font-size: 15px;
}
.members h2 {
    font-size: 22px;
    font-weight: bold;
}
.members h2::after {
    content: '';
    display: block;
    width: 36px;
    height: 3px;
    background-color: #000000;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.members h3 {
    font-size: 22px;
    font-weight: bold;
}
.members h3::after {
    content: '';
    display: block;
    width: 36px;
    height: 3px;
    background-color: #000000;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.site-menu ul li a {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: italic;
}
.member-list {
    padding-top: 40px;
    padding-bottom: 10px;
    overflow: auto; /* スクロール可能にする */
    max-height: 800px; /* 高さの制限を設定（適宜調整してください） */
}

.member-list ul {
    list-style-type: none; /* 点のリストスタイルをなしにする */
    padding: 0;
    margin: 0;
}

.member-list li {
    margin-bottom: 20px; /* 各出演者の間隔を設定 */
}

.staff-list {
    display: flex;
    justify-content: space-around; /* スペースを均等に配置 */
    margin-top: 30px; /* スタッフリストと出演者リストの間隔 */
    margin-bottom: 30px;
}
.staff-list li{
    font-size: 0.85em;
    list-style-type:none ;
}
.staff-list p{
    font-size: 0.4em ;/*スタッフの名前の大きさを出演者の半分に変更*/
}
.staff-list .column {
    flex: 1; /* カラムを均等に広げる */
    padding: 0 10px; /* カラム内の間隔 */
    text-align: center; /* 中央揃えにする */
}
.comment {
    text-align: center; /* キャストの名前を中央揃え */
    margin-top: 30px;
}

.comment li {
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.comment p {
    text-align: left; /* コメントを左揃え */
    margin: 0 auto;
    max-width: 600px; /* コメントの幅を制限 */
    font-size: 0.7em;
    font-family: sans-serif;
}
@media (max-width:800px){
    .headear-site-menu{
        display:block;
